.container {
  width: 280px;
  color: black;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.saved-col-div {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}